.number-field {
    margin: 24px 0;
}

.number-field label {
    /* Quebra a linha do input  */
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.number-field input {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.0);
    width: 100%;
    border: none;
    font-size: 22px;
    padding: 24px;
    box-sizing: border-box;


}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button,
input[type='number']:hover::-webkit-inner-spin-button,
input[type='number']:hover::-webkit-outer-spin-button {
    appearance: none;
}

