.buttom {
    background-color: #0001FE;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #ffff;
    margin: 32px 0;

}

.buttom:hover{
    color:#95ff94 ;
}